<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
  </head>
  <body>
    <h1>Add a new course</h1>
    <form action="/add" method="post">
      {%csrf_token%}
      <p>Name: <input type="text" name="name" value=""> </p>
      <p>Description: <textarea name="desc" rows="8" cols="80"></textarea> </p>
      <p> <input type="submit" name="" value="Add"> </p>
    </form>
    <h1>Courses</h1>
    <table>
      <tr>
        <td>Course Name</td>
        <td>Description</td>
        <td>Date Added</td>
        <td>Actions</td>
      </tr>
      {%for course in courses%}
      <tr>
        <td>{{course.name}}</td>
        <td>{{course.desc}}</td>
        <td>{{course.created_at}}</td>
        <td> <a href="/delete/{{course.id}}">remove</a> </td>
      </tr>
      {%endfor%}
    </table>
  </body>
</html>
