<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey</title>
  </head>
  <body>
    <form class="" action="/process" method="post">
      {%csrf_token%}
      <p>
        Your Name: <input type="text" name="name" >
      </p>
      <p>
        Dojo Location:
        <select class="" name="location">
          <option value="San Jose">San Jose</option>
          <option value="Burbank">Burbank</option>
          <option value="New York">New York</option>
        </select>
      </p>
      <p>
        Favorite Language:
        <select class="" name="language">
          <option value="Python">Python</option>
          <option value="Javascript">Javascript</option>
          <option value="Java">Java</option>
          <option value="Swift">Swift</option>
        </select>
      </p>
      <p>Comment:</p>
      <p>
        <textarea name="comment" rows="8" cols="80"></textarea>
      </p>
      <p>
        <input type="submit" value="submit">
      </p>
    </form>
  </body>
</html>
